<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }}</title>

    <link rel="modulepreload" href="/assets/lit_hydrate.bundle.js" />
    <link rel="modulepreload" href="/assets/hello.bundle.js" />
    <link rel="modulepreload" href="/assets/greeter.bundle.js" />

    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <style>
      body[dsd-pending] {
        display: none;
      }
    </style>
  </head>

  <body dsd-pending>

    <script>
      if (HTMLTemplateElement.prototype.hasOwnProperty('shadowRoot')) {
        document.body.removeAttribute('dsd-pending');
      }
    </script>

    {{ content | safe }}

    <script type="module">
      (async () => {
        const litHydrateSupportInstalled = import('/assets/lit_hydrate.bundle.js');

        if (!HTMLTemplateElement.prototype.hasOwnProperty('shadowRoot')) {
          const {hydrateShadowRoots} = await import('/assets/webcomponents_shadowroot.bundle.js');

          hydrateShadowRoots(document.body);
          document.body.removeAttribute('dsd-pending');
        }

        await litHydrateSupportInstalled;

        import('/assets/hello.bundle.js');
        import('/assets/greeter.bundle.js');
      })();
    </script>
    <script src="/assets/main.bundle.js"></script>

  </body>
</html>
