<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }}</title>

    <link rel="modulepreload" href="/assets/lit.bundle.js" />

    {% for e in ce %}
      <link rel="modulepreload" href="/assets/{{ e }}.bundle.js" />
    {% endfor %}

    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <style>
      body[dsd-pending] {
        display: none;
      }
    </style>
  </head>

  <body dsd-pending>

    <script>
      if (HTMLTemplateElement.prototype.hasOwnProperty('shadowRoot')) {
        document.body.removeAttribute('dsd-pending');
      }
    </script>

    <div class="flex flex-row w-screen h-screen">
      <header class="flex-none w-60 border-r-2 p-5 h-full">{% include "nav.njk" %}</header>
      <main class="flex-1 grow p-10">
        <h1 class='font-medium text-3xl w-100 text-center'>{{ title  }}</h1>
        {{ content | safe }}
      </main>
    </div>

    <script type="module">
      (async () => {
        const litHydrateSupportInstalled = import('/assets/lit.bundle.js');

        if (!HTMLTemplateElement.prototype.hasOwnProperty('shadowRoot')) {
          const {hydrateShadowRoots} = await import('/assets/webcomponents.bundle.js');

          hydrateShadowRoots(document.body);
          document.body.removeAttribute('dsd-pending');
        }

        await litHydrateSupportInstalled;

        {% for e in ce %}
          import('/assets/{{ e }}.bundle.js');
        {% endfor %}
      })();
    </script>
    <script src="/assets/main.bundle.js"></script>

  </body>
</html>
