<nav>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='#'>Layouts</a></li>
        <li><a href='#'>Pages</a></li>
        <li><a href='#'>Slots</a></li>
        <li><a href='#'>Widgets</a></li>
    </ul>
</nav>
