<nav>
    <ul>
        <h2 class='border-b-2 mb-2'>Navigate</h2>
        <li class='ml-2 text-blue-700 hover:text-blue-500'><a href='/'>Home</a></li>
        <li class='ml-2 text-blue-700 hover:text-blue-500'><a href='/about'>About</a></li>

        <h2 class='mt-2 border-b-2 mb-2'>Manage</h2>
        <li class='ml-2 text-blue-700 hover:text-blue-500'><a href='/layouts'>Layouts</a></li>
        <li class='ml-2 text-blue-700 hover:text-blue-500'><a href='/uris'>URIs</a></li>
        <li class='ml-2 text-blue-700 hover:text-blue-500'><a href='/pages'>Pages Layouts</a></li>
        <li class='ml-2 text-blue-700 hover:text-blue-500'><a href='/slots'>Page Slots</a></li>
        <li class='ml-2 text-blue-700 hover:text-blue-500'><a href='/widgets'>Slot Widgets</a></li>
    </ul>
</nav>
